nav {
  background: linear-gradient(90deg, #09012b, #605bf1);
}

.navbar-nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0;
  list-style-type: none;
}

.nav-item {
  margin: 0 0.5vw;
  text-align: center;
  font-size: 1.3rem;
}

.navbar-nav .nav-link:hover {
  color: #fe8a24 !important;
}

@media (max-width: 992px) {
  .navbar-nav {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    padding: 0;
    width: 100%;
  }

  .nav-item {
    width: 100%;
    text-align: right;
  }

  .navbar-nav .nav-link:hover {
    color: #fe8a24 !important;
  }
}

.navbar img {
  transition: transform 0.3s ease-in-out;
}

.navbar img:hover {
  transform: scale(1.1);
}
