/* RESTO CSS */


.hero .hero-container {
  background-image: url('../modules/repas/img-resto/pim-resto-hero.jpg');
  background-size: cover;
  background-position: center;
  height: 70vh;
}


.resto-bar {
  background-image: url('../modules/repas/img-resto/bar.webp');
  background-size: cover;
  background-position: center;
  height: 70vh;
}

.btn-resto {
  display: inline-block;
  background-color: #FE8A24;
  padding: 15px 25px;
  border-radius: 80px;
  border: none;
  text-decoration: none;
  font-size: 1rem;
  color: white;
  transition: all 0.3s ease-in-out;
}

.barimage {
  display: block;
  position: relative;
  background-image: url('../modules/repas/img-resto/bar.webp');
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 50vh;
}

.cocktail-image {
  position: absolute;
  background-image: url('../modules/repas/img-resto/cocktail.png');
  background-size: contain;
  background-repeat: no-repeat;
  top: 50%;
  right: 5%;
  width: 35%;
  height: 150%;
  object-fit: contain;
  transform: translateY(-50%);
  z-index: 10;
}

@media (max-width: 768px) {
  .cocktail-image {
    width: 40%;
    z-index: 2;
  }
}

@media (max-width: 1024px) {
  .cocktail-image {
    display: none;
  }
}

/* Image du cocktail */

/* Repas */
.steakimage {
  display: block;
  width: 95%;
  height: 50vh;
  object-fit: cover;
}

.meat {
  background-image: url('../modules/repas/img-resto/meat.jpg');
}

.seafood {
  background-image: url('../modules/repas/img-resto/fruits-de-mer-pim.jpeg');
}

.specialite-item {
  height: 60vh;
}




/* resa */

.hero-resa .hero-container-resa {
  background-image: url("../modules/repas/img-resto/resa-hero.jpg");
  background-position: 90% 10%;
  height: 40vh;
}