/* Bouton Réservez */
.btn-chambre {
    background-color: #fe8a24;
    color: white;
    border: none;
    border-radius: 80px;
    padding: 10px 30px;
    text-transform: uppercase;
    text-decoration: none;
    font-size: 0.9rem;
}


/* Bouton Recherche */
#btn-recherche {
    margin-top: 30px;
    background-color: #fe8a24;
    color: white;
    border: none;
}


.hero .hero-container {
    background-image: url("./galerie/Hero-01.jpg");
    background-position: 50% 50%;
    height: 70vh;
}

.hero-resa .hero-container-resa {
    background-image: url("./galerie/Hero-01.jpg");
    background-position: 50% 70%;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 30vh;
}