/* Hero sections */

html,
body,
main {
    overflow-x: hidden;
    width: 100%;
    max-width: 100vw;
}

.container-fluid {
    width: 100%;
    max-width: 100vw;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
}

.hero .hero-container {
    background-image: url('./media/hero001-8894.jpg');
    background-position: 100% 60%;
    height: 70vh;
}


.emma {
    background-image: url('./media/Emma.jpg');
    background-size: cover;
    background-position: 50% 33%;
    background-repeat: no-repeat;
}

.lucas {
    background-image: url('./media/Lucas.jpg');
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
}


.guide-item {
    height: 60vh;
    position: relative;
    margin-bottom: 20px;
}

.resa {
    height: 60vh;
    position: relative;
    background-image: url('./media/herofooter2.png');
    background-size: cover;
    background-position: 50% 33%;
    background-repeat: no-repeat;
}