.hero .hero-container {
    background-image: url('../../public/children-1547261_1920.jpg');
    background-position: 50% 50%;
    height: 70vh;
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
}

/* activite *****/

.activite {
    min-height: 70vh;
    margin: 0;
    position: relative;

}

.activite .activite-container {
    background-image: url('../../public/1280px-Fallujah_sack_race.jpg');
    padding: 3rem;
    height: 100%;
    width: 100%;
    background-size: cover;
    background-position: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

/* Styles du texte hero */
.activite-text-box {
    padding: 0.5rem;
    text-align: left;
    margin-bottom: 1rem;
    color: white;
}

.julie {
    background-image: url('../../public/woman-showing-colored-picture.jpg');
    background-size: cover;
    background-position: center;
    background-position: 35% 50%;
    height: 60vh;
}

.emilie {
    background-image: url('../../public/old-teacher.jpg');
    background-size: cover;
    background-position: center;
    background-position: 35% 50%;
    height: 60vh;

}

/* Hero reservation ***************/

.hero-resa .hero-container-resa {
    background-image: url("../../public/children-1547261_1920.jpg");
    background-position: 50% 70%;
    height: 30vh;
}


.reservations {
    min-height: 50vh;
    margin: 0;
    position: relative;

}

.reservations .garderie-container {
    background-image: url('../../public/AfterSchool.webp');
    background-size: cover;
    background-position: center;
    background-position: 35% 50%;
    height: 30h;
}